@model IEnumerable<ContributeComponents.Domains.KycInfos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullJobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialReputation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BtcOriginAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Btc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NeoOriginAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Neo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullJobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SocialReputation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <img src="~/Upload/@item.File" style="width: 100px;height: 100px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BtcOriginAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Btc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NeoOriginAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Neo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
